/* Reset CSS use YUI */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
	padding: 0;
	margin: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset,img {
	border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-weight: normal;
	font-style: normal;
}
ol,ul {
	list-style: none;
}
caption,th {
	text-align: left;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-size: 100%;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border: 0;
}
/* Reset done */
html{
	font-size: 16px;
}
img{
	max-width: 100%;
}
li{
	padding : 0;
	list-style : none;
}
a{
	text-decoration: none;
}
.clean{
	clear: both;
}
/* index */
#aHeader{
	text-align: center;
	background-color: #09c3ca;
}
#aHeader img{
	width: 50%;
	margin: 12px auto;
	padding: 5px 0;
}
#aContent{
	clear: both;
	margin: 0 auto;
	text-align: center;
	width: 90%;
}

#aList{
	position: relative;
	line-height: 0;
	margin: 0 auto;
	margin-bottom: 10px;
	clear: both;

}
#aList li{
	margin: 3%;
	text-align: center;
	float: left;
	width: 27%;
}
#aList img,
.lavatar img{
	border: 1px #ccc solid;
	border-radius: 8px;
	box-shadow: 1px 1px 2px #ccc;
}
.aListLink{
	display: block;
}
#aList h2{
	color: #555;
	font-size: 10px;
	font-size: 0.9rem;
	padding : 4px 0;
	width: 100%;
	line-height: 120%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	z-index: 10;
	text-align: center;
	max-width: 180px;
	margin: 0 auto;
}
#aList h2 a{
	color: #555;
}

#lHeader{
	margin: 0 auto;
	padding: 32px 0 10px;
	background: url("../images/beijing.jpg") center center;
}
#lHeader .lavatar,
#lHeader .lprofile{
	float: left;
}
.lavatar{
	width: 25%;
	margin:0 8%;
	text-align: center;
}
#aHeader img{
	margin: 0;
}
.lprofile{
	width: 52%;
	height: 100px;
	margin: 0 5% 0 0 ;
	color: #555;
	font-size: 10px;
	font-size: 0.9rem;
	padding: 1% 0;
	line-height: 130%;
	text-align: justify;
	overflow: hidden;
}
#lContent{
	margin:0 auto 5%;
	width:100%;
}
#lContent li{
	height: 80px;
  margin: 0;
	text-align: justify;
	background:#eee;
	border-bottom: #ccc 1px solid;
}
#lContent li:nth-child(odd){
	background: #fafafa;
}
#lContent a{
	display: inherit;
	color: #555;
	font-size: 12px;
	font-size: 1rem;
	padding: 10px 15px;
}
#vContent{
	margin: 2%;
	text-align: center;
}
.lImg{
	width:15%;
	height: 60px;
	text-align: center;
	float: left;
	margin: 0 3%;
	vertical-align: middle;
}
.lImg img{
	max-width:100%;
	max-height:60px;
}
#vContent h1{
	margin: 2%;
	font-size: 1.4rem;
}
#vContent p{
	margin: 1%;
	font-size: 1rem;
	text-align: justify;
}





/*new style*/
#left-panel ul li img{
	width: 70px;
	margin: 5px;
	-webkit-border-radius: 70px;
	-moz-border-radius: 70px;
	border-radius: 70px;

}