.ui-header  h1{
	margin: 0 10% !important;
}
#left-panel ul li img{
	width: 70px;
	margin: 5px;
	-webkit-border-radius: 70px;
	-moz-border-radius: 70px;
	border-radius: 70px;
}
#listAll li h2{
	white-space: normal;
	text-align: justify;
}
#listAll li img{
	margin: 5px;
}
#viewContent img{
	max-width: 100%;
	display: block;
}